* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #4d4f62;
  background-color: #fafafa;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
main {
  margin: auto;
}

header {
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  letter-spacing: 1.4;
  margin-bottom: 1px;
}
h1,
p {
  font-weight: 200;
}

h2 {
  margin-bottom: 13px;
  font-size: 1.8rem;
}

.container {
  margin: 60px auto;
  width: 90%;
  max-width: 550px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1150px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 350px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 5px 3px 20px #4d4f6233;
  border-radius: 4px;
  /* margin: 20px; */
  padding: 20px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card.supervisor {
  border-top: 3px solid #44d3d2;
}

.card.team-builder {
  border-top: 3px solid #ea5454;
}
.card.karma {
  border-top: 3px solid #fcae4a;
}
.card.calculator {
  border-top: 3px solid #549ef2;
}
.card .img-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.card h3 {
  margin-bottom: 7px;
  font-size: 1.2rem;
}

.card section p {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  .flex-container {
    flex-direction: row;
  }
}
